<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Audio2Text</title>

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    

    <!-- Bootstrap core CSS -->
<link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', path='css/starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/file.css') }}" rel="stylesheet">
  </head>
  <body>
    
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <!-- <header class="d-flex align-items-center pb-3 mb-5 border-bottom"> -->
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      mos.ru
    </a>

    <div class="col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      Статус: <span class="header-status bg-success text-white" style="padding: 0px 5px;">Готов</span>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="drag-image">
              <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
              <h6>Перетащи файл сюда</h6> <span>или</span> <button>Открой файл</button> <input id="audio_file" hidden type="file" accept="audio/*" />
          </div>
          <!-- <audio control id="audio_player" /> -->
          <br/>
          <audio style="width: 100%" controls id="audio_player"></audio>
        </div>
      </div>
    </div>

    <br/>

    <div class="alert alert-info" role="alert">
      Внимание! Если перед скачиванием вы обновляли текст (правили вручную или пользовались кнопкой постобработки), то следует его сначала сохранить в бд.
    </div>

    <div class="bg-light border rounded-3" style="padding: 5px">
      <div class="inline-editor">
      </div>
    </div>

    <script>
      var audioTokenId;

      var dropArea = document.querySelector(".drag-image"),
        dragText = dropArea.querySelector("h6"),
        button = dropArea.querySelector("button"),
        input = dropArea.querySelector("input");
      var file;

      button.onclick = () => {
        input.click();
      }

      input.addEventListener("change", function () {

        file = this.files[0];
        dropArea.classList.add("active");

        uploadAudioFile(file);
      });

      dropArea.addEventListener("dragover", (event) => {
        event.preventDefault();
        dropArea.classList.add("active");
      });


      dropArea.addEventListener("dragleave", () => {
        dropArea.classList.remove("active");
      });

      dropArea.addEventListener("drop", (event) => {
        event.preventDefault();

        file = event.dataTransfer.files[0];

        uploadAudioFile(file);
      });

      var editor = new MediumEditor('.inline-editor', {
        toolbar: false,
        placeholder: false,
      });

      function uploadAudioFile(fileObj){
          // var files = this.files;
          var file = URL.createObjectURL(fileObj);
          audio_player.src = file;

          var formData = new FormData();
          formData.append('audio_file', fileObj);

          var status = $('.header-status');

          axios({
            url: '/files/',
            method: 'POST',
            data: formData,
            headers: {
              Accept: 'application/json',
              'Content-Type': 'multipart/form-data',
            },
          })
          .then(response => {
            const data = response.data;

            if (!data || !data.id) {
              return;
            }

            status.html('Обработка');
            status.removeClass('bg-success').addClass('bg-primary');
            
            var id = data.id;
            var timer = setInterval(() => {
              axios({
                url: `/files/poll-token/${id}`,
                method: 'GET',
                headers: {
                  Accept: 'application/json',
                },
              })
              .then(response => {
                const data = response.data;

                if (!data || !data.transcribed) {
                  return;
                }

                audioTokenId = data._id;

                console.log(data);

                $('.inline-editor').html(data.text);

                status.html('Готов');
                status.removeClass('bg-primary').addClass('bg-success');

                clearInterval(timer);
              })
            }, 7000);
          });

          console.log(response);
      };

      function downloadMsWord() {
        if (!audioTokenId) {
          return;
        }

        var url = `${window.location.origin}/files/word?token=${audioTokenId}`;

        var link = document.createElement('a');
        link.href = url;
        link.setAttribute('hidden', true);
        document.body.appendChild(link);
        link.click();
      }

      function updateText() {
        if (!audioTokenId) {
          return;
        }

        axios({
          url: `/files/${audioTokenId}/content`,
          method: 'PUT',
          data: { text: $('.inline-editor').text() },
          headers: {
            Accept: 'application/json',
          },
        })
        .then(response => {
          const data = response.data;

          if (!data) {
            return;
          }

          console.log(data);
        })
      }

      function postProcessing() {
        var text = $('.inline-editor').text();

        if (!text || text === '') {
          return;
        }

        var encodedData = { text: $('.inline-editor').text() };

        var formData = new FormData();
        formData.append('text', $('.inline-editor').text());

        axios({
          url: 'http://34.210.60.197:8080/punct/',
          method: 'POST',
          data: formData,
        })
        .then(response => {
          const data = response.data;

          if (!data || !data.res) {
            return;
          }

          $('.inline-editor').html(data.res);

          console.log(data);
        })
      }
    </script>

    <br/>

    <div class="row justify-content-between">
      <div class="col-5">
        <button type="button" class="btn btn-primary btn-sm" onclick="downloadMsWord();">Скачать MS WORD</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="updateText();">Сохранить текст в бд</button>
      </div>
      <div class="col-3" style="text-align: right;">
        <button type="button" class="btn btn-primary btn-sm" onclick="postProcessing();">Постобработка текста</button>
      </div>
    </div>

    <br/>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
            Помощь
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Q: Какой формат файлов можно загрузить?
              <br/>
              <strong>A: .wav / .mp3</strong>
              <br/>
              Q: Что такое постобработка текста?
              <br/>
              <strong>A: Добавление пунктуации, разбивка на предложения.</strong>
          </div>
        </div>
      </div>
    </div>

    <!-- <hr class="col-3 col-md-2 mb-5"> -->
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by Plitochniki team &middot; &copy; 2021
  </footer>
</div>


    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
  </body>
</html>
